* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html,
body {
  height: 100vh;
}

body {
  font-family: Helvetice;
}
.main {
  display: flex;
  height: 100vh;
}
.sidebar {
  width: 260px;
  flex-shrink: 0;
  background-color: #edf8fe;
  height: 100%;
  /* overflow: auto; */
  color: #4b4a4a;
}
.sidebar-item {
  padding: 1em 1.2em;
  display: block;
  transition: background-color 0.1s;
}

.sidebar-item:hover {
  background-color: #dff1fc;
}

.sidebar-title {
  font-size: 19px;

  display: flex;
  justify-content: space-between;
}
.sidebar-title span i {
  display: inline-block;
  width: 2em;
}
.sidebar-title .toggle-btn {
  cursor: pointer;
  transition: transform 0.3s;
}
.sidebar-item.open > .sidebar-title .toggle-btn {
  transform: rotate(180deg);
}
.sidebar-content {
  padding-top: 0.25em;
  height: 0;
  overflow: hidden;
}
.sidebar-item.open > .sidebar-content {
  height: auto;
}
a {
  text-decoration: none;
  color: #4b4a4a;
}
