/* .wrapper{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    display: grid;
    grid-template-rows: 1px 1px;
    grid-template-columns: 1px 1px;
    row-gap: 100px;
    column-gap: 2px;
    color:#1D639F;
  }
   */
  *:focus {
    outline: none;
  }
  .head{
    color: #4B4A4A;
    font-family: Helvetica;
    font-weight: bold;
  }
  .firstctn{
    background: #EDF8FE 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 2000px;
  }
  .secondctn{
    height: 1380px;
    border: 2px;
    margin: 20px;
    padding: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 25px #00000029;
    opacity: 1;
  }
  .padder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .lbl{
    color: #1D639F;
    opacity: 2;
    font: normal normal bold 18px/15px Helvetica;
  }
  